* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 50px;
}
header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

main {
    display: flex; /*allineare le card orizzontalmente*/
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* Spazio tra le card */
    flex-wrap: wrap;
    /* Fa andare a capo le card su schermi piccoli */
}
.card { /*prime due card bianche e forma*/
    background: white;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    text-align: left;
}

/* La card centrale (Professional) ha colori invertiti */
.card.pro {
    background-color: #6200ee;
    color: white;
    transform: scale(1.05); /* La rende leggermente più grande */
}

.prezzo {
    margin: 20px 0;
    font-weight: bold;
}

.numeri {
    font-size: 3rem;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #6200ee;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0;
}

/* Bottone bianco per la card viola */
.pro button {
    background-color: white;
    color: #6200ee;
}
ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

/* aggiungete le icone  */
.v::before {
    content: "✓";
    margin-right: 10px;
    font-weight: bold;
}

.x::before {
    content: "✕";
    margin-right: 10px;
    opacity: 0.5;
}
/* TABLET: Le prime due vicine, la terza sotto larga */
@media (max-width: 992px) {
    .card.ultimate {
        width: 100%;
        max-width: 720px; /* Si adatta alla larghezza delle due sopra */
    }
}

/* MOBILE: Tutto in colonna */
@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
    .card.pro {
        transform: scale(1); /* Togliamo l'ingrandimento su mobile */
    }
}